@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab:7100,300,400,700&display=swap');

/*
  Kind of tops;
  font-family: 'Lobster', cursive;
  font-family: 'Roboto Slab', serif;

  */
h1,
h2,
h3 {
  font-family: 'Lobster', cursive;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 2.5vw;
}

h3 {
  font-size: 1.8vw;
}

p {
  font-size: 1.5vw;
}

a,
li,
p,
::placeholder,
input,
sub,
figcaption,
span,
button {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
}

.nav-link {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  background-color: #cdf8f6;
  display: flex;
  flex-direction: column;
}

#nav-bar {
  font-size: 2vw;
  display: flex;
  width: 101%;
  height: 14vh;
  position: fixed;
  top: -1%;
  left: -1%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #cdcff8;
  z-index: 2;
  font-weight: lighter;
  transition: top 0.3s;
}

#header-img {
  margin: 1%;
  padding: 0.5% 2% 1% 2%;
  width: 15vw;
  height: 7.5vh;
}

#link-bar {
  padding-right: 4%;
  flex-grow: 1;
  align-items: end;
  justify-content: flex-end;
  text-align: center;
  display: inline-flex;
}

.nav-link {
  margin: 1% 4%;
  color: black;
  font-size: 1.5vw;
  font-weight: 400;
}

#main {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding-top: 10%;
}

#service-h2 {
  text-align: center;
  background-color: #f6cdf8;
  margin: auto 25vw;
}

.service_container {
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  margin: 0% 10%;
  align-items: center;
}

.service-img {
  width: 35%;
  height: auto;
  flex-grow: 1;
}

.service_div {
  display: flex;
  padding: 1% 0;
  flex-direction: column;
  align-items: flex-start;
}

.service_title {
  align-self: stretch;
  text-align: flex-start;
}

.service_description {
  flex-grow: 3;
  text-align: justify;
  width: 100%;
  margin-bottom: 4%;
}

#gallery-div {
  display: flex;
  flex-grow: 4;
  width: 80%;
  flex-direction: column;
  margin: auto 10%;
  padding-top: 5%;
}

#gallery-h2 {
  text-align: center;
  background-color: #f6cdf8;
  margin: auto 30%;
}

#gallery-description {
  text-align: center;
}

.gallery-element {
  grid-row: 1;
  margin-bottom: 1%;
}

.video {
  width: 100%;
}

.gallery-img {
  width: 100%;
}

.gallery-caption {
  font-size: 1.55vw;
  font-weight: 300;
  background-color: #f6cdf8;
}

#prices {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  width: auto;
  height: 120%;
  padding-top: 5%;
  margin: 30px 30px;
}

#price-element-div {
  display: flex;
}

#price-h2 {
  background-color: #f6cdf8;
  margin: auto 30%;
  text-align: center;
  display: block;
  flex-grow: 100%;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.price-element {
  display: flex;
  /* flex-shrink: 0; */
  padding: 10px;
  margin: 1%;
  flex-grow: 1;
  flex-direction: column;
  border-radius: 10%;
  border-style: solid;
  border-width: thin;
  border-color: black;
  max-width: 33.3%;
  max-height: 30em;
  background-color: rgba(222, 250, 249, 1);
}

.prices-title {
  text-align: center;
}

.price-element p {
  /* text-align: justify; */
  display: block;
  /* margin: 3vw; */
}

.price-button {
  border: none;
  width: 100%;
  height: 3.5vw;
  font-size: 1.6vw;
  font-weight: 500;
  background-color: #cdcff8;
}

.price-element div {
  max-width: 220px;
  width: 33%;
  align-self: center;
  margin-top: auto;
}

/* #button1 {
  margin-top: 55%;
}

#button2 {
  margin-top: 70%;
}

#button3 {
  margin-bottom: 15%;
} */

#footer-div {
  position: relative;
  padding: 10px;
  text-align: right;
  background: #567a78;
  /* width: 100%; */
}

#footer ul {
  margin-right: 1%;
  text-align: right;
  background: #567a78;
}

.footer_link {
  display: inline-flex;
  flex-direction: row;
  margin-right: 1%;
  flex-grow: 1;
  text-decoration: none;
  color: white;
  font-size: 1.4vw;
}

#copyright sub,
span {
  padding-bottom: 1%;
  color: #bbc9c9;
  display: inline-flex;
  text-align: center;
  font-size: 1.35vw;
}

@media (max-device-width: 800px) {
  .nav-link a {
    font-size: 4.2vw;
  }

  #header-img {
    width: 22%;
    height: auto;
  }

  h2 {
    font-size: 6vw;
  }

  h3 {
    font-size: 4vw;
  }

  #main {
    padding-top: 30%;
    margin: auto 10%;
  }

  .service_container {
    flex-direction: column;
    margin: 0;
  }

  #service-h2 {
    margin: 0;
  }

  .service_div {
    align-items: center;
  }

  .service_title {
    text-align: center;
  }

  .service_description {
    font-size: 3vw;
    width: 100%;
  }

  .service-img {
    width: 45%;
  }

  #gallery-div {
    padding-top: 17%;
    margin: 0% .2%;
    width:100%;
  }

  #gallery-h2 {
    margin: auto 5%;
  }

  #prices {
    padding-top: 15%;
    margin: auto;
  }

  #price-element-div {
    flex-direction: column;
    margin-bottom: 5%;
  }

  .price-element {
    max-width: 50%;
    align-self: center;
    border-radius: 5%;
  }

  .price-element p {
    margin: 5% 10%;
    /* padding-bottom: 10%; */
    font-size: 2.7vw;
  }

  #button1,
  #button2,
  #button3 {
    padding: 0%;
    margin: 0% 0% 10% 0%;
    font-size: 3.5vw;
    height: auto;
  }

  #footer-div {
    display: flex;
    display: row;
    margin: 0 0%;
  }

  #footer {
    display: flex;
  }

  .footer_link {
    font-size: 2.8vw;
    flex-grow: 1;
    margin-right: 1vw;
  }

  #copyright {
    align-self: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
  #copyright sub{
    font-size:2.5vw;
    margin:3% 0;
  }
}
